


<div class="topnav">
        
    <a href="/dashboard">Dashboard</a>
    <a href="/">Stocks</a>
    <a href="/">Mutual Funds</a>
    <a routerLink="/registerassets">Register assets</a> 
    <a class="active" routerLink="/profile">Profile</a> 
    <a class="logout" href="/home">LogOut</a>

 
</div>

<div class class="title">
<h3>Profile Of Investor</h3>

</div>
<div class="profileInfo">

   
    <p>Full Name : </p>
    <p>E-Mail: </p>
    <p>Mobile No: </p>
    <p>Alternate MobileNo</p>
    <p>Age</p>
    <p>PAN</p>
    <p>Date of Birth</p>
    <p>Gender</p>
    <p>Marital Status</p>
    <p>Address: </p>
    <p>Designation: </p>
    <p>AdharID</p>


    <button><a routerLink="/changepassword">Change Password</a></button> <button><a routerLink="/updateinvestor">Update Profile</a></button>
</div>



<!-- <p>Full Name :{{user.name}} </p>
<p>E-Mail:{{user.email}} </p>
<p>Mobile No:{{user.mobileNo}} </p>
<p>Alternate MobileNo</p>
<p>Age</p>
<p>PAN</p>
<p>Date of Birth</p>
<p>Gender</p>
<p>Marital Status</p>
<p>Address: </p>
<p>Designation: </p>
<p>AdharID</p>
 -->









<!-- <div class="userphoto">
    <img
      src="/assets/images/Product.jpg" width="100" height="100"
  />
  <p>Username</p>
</div> -->