
<div class="topnav">
        
    <a href="/dashboard">Dashboard</a>
    <a href="/">Stocks</a>
    <a href="/">Mutual Funds</a>
    <a routerLink="/registerassets">Register assets</a> 
    <a class="active" routerLink="/profile">Profile</a> 
    <a class="logout" href="/home">LogOut</a>

 
</div>
<div  class="title">
    <h3>Change Password</h3>
    
</div>
      
      <div class="container">
           
                    
                    <label>Current Password</label>
                    <div class="form-group pass_show"> 
                        <input type="password" value="aakanksha@123" class="form-control" placeholder="Current Password"> 
                    </div> 
                       <label>New Password</label>
                    <div class="form-group pass_show"> 
                        <input type="password" value="aakanksha@1234" class="form-control" placeholder="New Password"> 
                    </div> 
                       <label>Confirm Password</label>
                    <div class="form-group pass_show"> 
                        <input type="password" value="aakanksha@1234" class="form-control" placeholder="Confirm Password"> 
                    </div> 
                    
               
        </div>
       
      
       
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- 
        <html>
                <body>
                <div class="myDiv">
                    <div class="topnav">
                        <ul>
                            
    
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#work">Home Page</a></li>
                            <li><a href="#skills">Products</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                            <li><a href="#">Login/Signup</a></li>
                          </ul>
                      </div>
                    <div class = "mainel" id ="work">WealthMitra</div>
                </div>
                </body>
                </html> -->
      
      
    
      
      
