
<form >
    <table>
        <tr>
            <td>
                <label>NameOfInstrument</label>
            </td>
            <td>
                <input list="browsers" name="browser" id="browser">
                <datalist id="browsers">
                    <option value="edge">
                    <option value="Firefox">
                    <option value="Chrome">
                    <option value="Opera">
                    <option value="Safari">
                  </datalist>
            </td>
        </tr>



        
        <tr>
            <td>
                <label>Scheme Code</label>
            </td>
            <td>    
                <input type="text" name="schemecode" value="" readonly>
            </td>
        </tr>


        <tr>
            <td>
                <label>Action</label>
            </td>
            <td>    
                <input list="Action" name="browser" id="browser">
                <datalist id="Action">
                    <option value="Buy">
                    <option value="Sale">
                   
                  </datalist>
            </td>
            
        </tr>
        <tr>
            <td>
                <label>Units</label>
            </td>
            <td>    
                <input type="number" name="units" >
            </td>
        </tr>

        <tr>
            <td>
                <label>Unit Value</label>
            </td>
            <td>    
                <input type="number" name="unitvalue" >
            </td>
        </tr>
       
        <tr>
            <td>
                <label>Purchased Date</label>
            </td>
            <td>    
                <input type="date" name="date" >
            </td>
        </tr>
        
      
        
        <tr>
            <td>
                
            </td>
            <td>
                <button type="submit">Upload</button>
            </td>
        </tr>
        
    </table>
</form>